php_value post_max_size 30M
php_value upload_max_filesize 30M

RewriteEngine On
RewriteBase /b1805744/


RewriteCond $1 !^admin/
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteRule ^admin/(.*)$ admin/index.php  [L]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteRule ^(.*)$ khachhang/index.php
