.submit_product {
  width: 104px;
  float: right;
  text-align: center;
  color: white !important;
}
.update_status {
  display: none;
}
.show_status {
  display: block;
}
.showMenu {
  margin-left: 0 !important;
}
.hold-transition .main-sidebar {
  transition: all 0.3s ease-in-out !important;
}
@media (max-width: 991px) {
  .hold-transition .main-sidebar {
    margin-left: -250px;
  }
}
@media(min-width: 992px){
  .nav-link.menu-mobile{
    display: none
  }
}
@media (max-width: 576px) {
  .card-body.p-0 .table tbody > tr > td:last-of-type {
    padding: 0;
  }
}
.cart-list-item {
  overflow-x: scroll;
  margin-bottom: 10px;
}
@media print {
  .updateStatus{
    display: none;
  }
}
.pagination_admin{
  display: flex;
  justify-content: flex-end;
}
.pagination_admin .pageination{
  margin-right: 20px;
}
.sidebar{
  overflow-y: hidden;
}
.errorMessage{
  color: red;
}
.alert.alert-success{
  opacity: 0;
  z-index: 212;
  position: fixed;
  bottom: 0;
  display: inline-block!important;
  right: 0;
  transition: all 0.2s ease-in-out;
}
img[alt="image_product"]{
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
  border: 1px solid #c8bebe;
  margin-top: 10px;
}
.ck-content .text-tiny {
  font-size: 0.7em;
}

.ck-content .text-small {
  font-size: 0.85em;
}

.ck-content .text-big {
  font-size: 1.4em;
}

.ck-content .text-huge {
  font-size: 1.8em;
}
.note-group-select-from-files {
  display: none;
}