.submit_product {
  width: 104px;
  float: right;
  text-align: center;
  color: white !important;
}
.update_status {
  display: none;
}
.show_status {
  display: block;
}
.showMenu {
  margin-left: 0 !important;
}
.hold-transition .main-sidebar {
  transition: all 0.3s ease-in-out !important;
}
@media (max-width: 991px) {
  .hold-transition .main-sidebar {
    margin-left: -250px;
  }
}
@media(min-width: 992px){
  .nav-link.menu-mobile{
    display: none
  }
}
@media (max-width: 576px) {
  .card-body.p-0 .table tbody > tr > td:last-of-type {
    padding: 0;
  }
}
.cart-list-item {
  overflow-x: scroll;
}
@media print {
  .updateStatus{
    display: none;
  }
}